<!--
<html>
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">



    </script>
    <script src="validate.js"></script>
</head>
<body>
<form id="first_form" action="#" onsubmit="ready()"  method="post">
    <p>Username: <input id="name" type="text"/></p>
    <p>Password: <input id="password" type="password"/></p>


    <input type="submit" name="submit" id="submit">
</form>
</body>

</html>
-->



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">



    </script>
    <script src="validate.js"></script>
</head>
<body>
<form id="first_form" th:action="@{/add}"   th:object="${user}" method="post">
    <p>Username: <input id="name" type="text" th:field="*{name}"/></p>
    <p>Password: <input id="password" type="password" th:field="*{password}"/></p>


    <input type="submit" name="submit" id="submit">
</form>
</body>
</html>

<!--
th:action="@{/add}"-->
